<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Codeship</title>

    <!-- LINK -->
    <meta charset="utf-8">
    <script src="https://unpkg.com/react@15.6.2/dist/react.min.js"></script>
    <script src="https://unpkg.com/react-dom@15.6.2/dist/react-dom.min.js"></script>
    <script src="https://unpkg.com/react-dom@15.6.2/dist/react-dom.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.min.js"></script>

    <meta name="author" content="Guillaume Suiffet">

</head>
<body>
<div>
    <div id="container"></div>
</div>
    <script src="bundle.js"></script>
</body>
</html>